<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>hellovelocity_2016</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="/styles/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

    <!-- Load Jquery + Bootstrap first -->
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

    <!-- Navigation -->
    <div class="hv-nav"><img src="/images/logo.png"></div>
    <div class="hv-nav-expanded">
      <div class="hv-nav-links">
        {{# each links}}
        {{#if navigation}}
        <a href="{{ url }}"><div class="hv-nav-link">{{ title }}</div></a>
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc

			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			-->

			<!-- The content block should contain the body of your template's content-->
			{{{body}}}

		</div>

    <!-- FOOTER --> 
    <div class="hv-footer">

      <!-- Newsletter -->
      <div class="hv-newsletter">
        <div class="container">
          <div class="hv-newsletter-wrapper">
            <div class="hv-newsletter-prompt">Keep up with our newsletter:</div>

            <!-- Begin MailChimp Signup Form -->

            <div id="mc_embed_signup">
              <form action="//hellovelocity.us1.list-manage.com/subscribe/post?u=f6165db2f72795931525c002b&amp;id=32a1e86aff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" autocomplete="off" novalidate>
                  <div id="mc_embed_signup_scroll">
                
              <div class="mc-field-group hv-newsletter-form">
                <input type="email" value="" name="EMAIL" class="hv-newsletter-input required email" id="mce-EMAIL" placeholder="your@email.address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="hv-newsletter-submit button">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6165db2f72795931525c002b_32a1e86aff" tabindex="-1" value=""></div>
                  </div>
              </form>
            </div>

            <!--End mc_embed_signup--> 

          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="hv-footer-information">
        <div class="container">
          <div class="hv-footer-copyright">
            &#169; Hello Velocity 
          </div>

          <div class="hv-footer-links-wrapper">
            {{#each links}}
            {{#if footer }}
            <div class="hv-footer-link">
              <a href="{{ url }}">{{ title }}</a>
            </div>
            {{/if}}
            {{/each}}
          </div>

        </div>
      </div>

    </div>

    <!-- .js link -->
    <script src="/js/default.js"></script>

		{{{isAdminEditorJS user}}}

	</body>
</html>
