<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/fullpage/jquery.fullPage.css" />
    <!-- link custom stylesheets -->
		<link href="/styles/site.css" rel="stylesheet">
    {{#ifeq mobile true}}
    <link href="/styles/msite.css" rel="stylesheet">
    {{/ifeq}}


     <!-- ========== META TAGS ========== -->

     <meta name="robots" content="Index,Follow">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
     <title>Hello Velocity</title>
     <link rel="canonical" href="http://www.hellovelocity.com">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="keywords" content="hello velocity, digital marketing, creative studio, creative, art, digital art, internet, internet art, new inc, new museum, bitelabs, mcmass, the mcmass project, js tan, js, lukas, lukas bentel, kevin wiesner, pinkhouse, yinte, marketing, online marketing, campaign" >
     <meta name="description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands.">

     <!--FACEBOOK-->

     <meta property="og:title" content="Hello Velocity" >
     <meta property="og:site_name" content="Hello Velocity">
     <meta property="og:url" content="http://www.hellovelocity.com" >
     <meta property="og:description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands." >
     <meta property="og:image" content="http://www.hellovelocity.com/images/fb-banner.png" >
     <meta property="og:type" content="website" >
     <meta property="og:locale" content="en_US" >

     <!--TWITTER-->

     <meta property="twitter:card" content="summary" >
     <meta property="twitter:title" content="Hello Velocity" >
     <meta property="twitter:description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands." >
     <meta property="twitter:creator" content="@hellovelocity" >
     <meta property="twitter:url" content="http://www.hellovelocity.com" >
     <meta property="twitter:image" content="http://www.hellovelocity.com/images/fb-banner.png" >


     <!-- ========== Google Analytics ========== -->
     <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57531666-1', 'auto');
      ga('send', 'pageview');

     </script>


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

    <div class="hv-loading-overlay">
      <div class="hv-loading">
        <img class="hv-loading-image" src="/images/logo.png">
      </div>
    </div>

    <!-- Load Jquery + Bootstrap first -->
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
    <script src="/js/fullpage/scrolloverflow.min.js"></script>
		<script src="/js/fullpage/jquery.fullPage.min.js"></script>
		<script src="/js/interact.min.js"></script>

    <!-- Navigation -->
    <div
      {{#ifeq mobile true}}class="hv-nav hvm draggable"
      {{else}}class="hv-nav draggable"
      {{/ifeq}}>
      <img src="/images/logo.png">
    </div>

    <div 
      {{#ifeq mobile true}}class="hv-nav-expanded hvm"
      {{else}}class="hv-nav-expanded"
      {{/ifeq}}>
      <div class="hv-nav-links">
        {{#each links}}
        {{#if navigation}}
        <a href="{{ url }}"><div class="hv-nav-link">{{ title }}</div></a>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div id="fullpage"> <!-- enable full page library -->
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc

			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			-->

			<!-- The content block should contain the body of your template's content-->
      <script>var globalEventManager = $({});</script>
      
			{{{body}}}
  
      {{#ifeq mobile true}}
        {{>mfooter}}
      {{else}}
        {{>footer}}
      {{/ifeq}}
  
    </div>

    <!-- .js link -->
    <script>
      // Loader
      $( window ).load( function() {
        $(".hv-loading-overlay").fadeOut();
      });
    </script>
    
    {{#ifeq section 'home'}}
    <script>
      // full page scroller
      $(document).ready(function() {
        $('#fullpage').fullpage({
          /*
          navigation: true,
          navigationPosition: 'right',
          */
          scrollOverflow: true,
          {{#ifeq mobile true}}
          scrollOverflowOptions: { click: true } // mobile hack to propagate clicks
          {{else}}
          scrollOverflowOptions: { click: false } // hack to propagate clicks
          {{/ifeq}}
        });
      });
    </script>
    {{/ifeq}}
    
    <!-- Handle Nav open/close + Make mobile nav draggable -->
    <script>
      var isNavOpen = false;
      var navExpanded= $( ".hv-nav-expanded" );
      
      // target elements with the "draggable" class
      interact('.draggable')
      .on('tap', function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        
        // open navigation 
        if( !isNavOpen ) {
          $( "body" ).css( "overflow", "hidden" );
          navExpanded.slideDown();
          $( this ).find( "img" ).fadeOut( function() {
            $( this ).attr( "src","../images/close-icon.png" )
            $( this ).fadeIn()
          });
          isNavOpen = true;
        } else {
          $( "body" ).css( "overflow", "auto" );
          navExpanded.slideUp();
          $( this ).find( "img" ).fadeOut( function() {
            $( this ).attr( "src","../images/logo.png" )
            $( this ).fadeIn()
          });
          isNavOpen = false;
        }
        
      }, true)
      .draggable({
        // enable inertial throwing
        inertia: true,
        // keep the element within the area of it's parent
        restrict: {
          restriction: "parent",
          endOnly: true,
          elementRect: { top: 0, left: 0, bottom: 0, right: 0 }
        },
        // enable autoScroll
        autoScroll: true,
    
        // call this function on every dragmove event
        onmove: dragMoveListener

      });
    
      function dragMoveListener (event) {
        var target = event.target,
            // keep the dragged position in the data-x/data-y attributes
            x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
            y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;
    
        // translate the element
        target.style.webkitTransform =
        target.style.transform =
          'translate(' + x + 'px, ' + y + 'px)';
    
        // update the posiion attributes
        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
      }
    
      // this is used later in the resizing and gesture demos
      window.dragMoveListener = dragMoveListener;
    </script>
    <!--
    {{#ifeq mobile true}}
    {{else}}
    <script>
      var isNavOpen = false;
      var navExpanded= $( ".hv-nav-expanded" );
      $( ".hv-nav" ).click( function() {
        if( !isNavOpen ) {
          $( "body" ).css( "overflow", "hidden" );
          navExpanded.slideDown();
          $( this ).find( "img" ).fadeOut( function() {
            $( this ).attr( "src","../images/close-icon.png" )
            $( this ).fadeIn()
          });
          isNavOpen = true;
        } else {
          $( "body" ).css( "overflow", "auto" );
          navExpanded.slideUp();
          $( this ).find( "img" ).fadeOut( function() {
            $( this ).attr( "src","../images/logo.png" )
            $( this ).fadeIn()
          });
          isNavOpen = false;
        }
      });
    </script>
    {{/ifeq}}
    -->

		{{{isAdminEditorJS user}}}
 </body>
</html>
