<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- link custom stylesheets -->
		<link href="/styles/site.css" rel="stylesheet">
    {{#ifeq mobile true}}
    <link href="/styles/msite.css" rel="stylesheet">
    {{/ifeq}}


     <!-- ========== META TAGS ========== -->

     <meta name="robots" content="Index,Follow">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
     <title>Hello Velocity</title>
     <link rel="canonical" href="www.hellovelocity.com">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="keywords" content="hello velocity, digital marketing, creative studio, creative, art, digital art, internet, internet art, new inc, new museum, bitelabs, mcmass, the mcmass project, js tan, js, lukas, lukas bentel, kevin wiesner, pinkhouse, yinte, marketing, online marketing, campaign" >
     <meta name="description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands.">

     <!--FACEBOOK-->

     <meta property="og:title" content="Hello Velocity" >
     <meta property="og:site_name" content="Hello Velocity">
     <meta property="og:url" content="www.hellovelocity.com" >
     <meta property="og:description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands." >
     <meta property="og:image" content="www.hellovelocity.com/images/fb-banner.png" >
     <meta property="og:type" content="website" >
     <meta property="og:locale" content="en_US" >

     <!--TWITTER-->

     <meta property="twitter:card" content="summary" >
     <meta property="twitter:title" content="Hello Velocity" >
     <meta property="twitter:description" content="Hello Velocity is a creative house based working out of NewInc that focuses on creating innovative campaigns and bold brands." >
     <meta property="twitter:creator" content="@hellovelocity" >
     <meta property="twitter:url" content="www.hellovelocity.com" >
     <meta property="twitter:image" content="www.hellovelocity.com/images/fb-banner.png" >


     <!-- ========== Google Analytics ========== -->
     <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57531666-1', 'auto');
      ga('send', 'pageview');

     </script>


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

    <div class="hv-loading-overlay">
      <div class="hv-loading">
        <img class="hv-loading-image" src="/images/logo.png">
      </div>
    </div>

    <!-- Load Jquery + Bootstrap first -->
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

    <!-- Navigation -->
    <div
      {{#ifeq mobile true}}class="hv-nav hvm"
      {{else}}class="hv-nav"
      {{/ifeq}}>
      <img src="/images/logo.png">
    </div>

    <div 
      {{#ifeq mobile true}}class="hv-nav-expanded hvm"
      {{else}}class="hv-nav-expanded"
      {{/ifeq}}>
      <div class="hv-nav-links">
        {{#each links}}
        {{#if navigation}}
        <a href="{{ url }}"><div class="hv-nav-link">{{ title }}</div></a>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc

			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			-->

			<!-- The content block should contain the body of your template's content-->
			{{{body}}}

		</div>

    {{#ifeq mobile true}}
      {{>mfooter}}
    {{else}}
      {{>footer}}
    {{/ifeq}}


    <!-- .js link -->
    <script src="/js/default.js"></script>

		{{{isAdminEditorJS user}}}

	</body>
</html>
