{{! default}}
{{#each abouts}}
{{#if @first}}

<div class="hv-about-banner">
  <div class="container">
    <div class="hv-about-banner-text">
      {{ bannerText }}
    </div>
  </div>
  <img class="hv-about-banner-image" src="{{ bannerImage.url }}"/>
</div>

<div class="container">
  <div class="hv-services">
    <div class="hv-services-heading">
      What do we do?
    </div>
    <div class="hv-service-wrapper row">
      {{#each services}}
      <div class="hv-service col-md-6 col-xs-6">
        <div class="hv-service-text">
          <div class="hv-service-text-description">
            <div class="hv-service-text-title">{{ this.name }}</div>
            {{#if this.description }}
            {{ this.description }}
            {{/if}}
          </div>
        </div>
        <div class="hv-service-overlay"></div>
        <img class="hv-service-image" src="{{ this.image.url }}">
      </div>
      {{/each}}
    </div>
  </div>
</div>

<!--
<div class="hv-about-description">
  <div class="container">
    <div class="hv-about-description-text">
      {{{ descriptionText }}}
    </div>
  </div>
</div>
-->
<hr style="height:0px;border-top:3px solid blue">

<div class="container">
  <div class="row row-centered">
    {{#each clients}}
    <div class="col-xs-4 col-sm-3 col-md-2 col-centered " style="text-align:center;">
      <img src="{{ icon.url }}" style="width:80%">
      <div class="">{{ name }}</div>
    </div>
    {{/each}}
  </div>
</div>

<hr style="height:0px;border-top:3px solid blue">

<div class="container">
  <div class="hv-contact row">
    <a href="http://www.instagram.com/{{ instagramHandle }}" target="_blank"><div class="hv-contact-instagram col-md-6 col-xs-6">
      <img class="hv-contact-instagram-image" src="{{ instagram.url }}" >
      <div class="hv-contact-instagram-overlay"></div>
      <div class="hv-contact-instagram-button">
        <div class="hv-contact-instagram-icon"><i class="fa fa-instagram"></i></div>
        <div class="hv-contact-handle">@{{ instagramHandle }}</div>
      </div>
    </div></a>
    <div class="hv-contact-text col-md-6 col-xs-6">
      <div class="hv-contact-text-wrapper">
        <div class="scss-large-content-font a">Say Hello!</div>
        <div class="b"><a href="mailto:friend@hellovelocity.com" target="_blank">friend@hellovelocity.com</a></div>
        <br>
        <div class="c">We're at NewInc</div>
        <div class="d">231 Bowery St<br />Manhattan, NY 11001</div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<div class="hv-team">
  <div class="container">
    <div class="hv-team-heading">The Team</div>
    <div class="hv-members row">
      {{#each members}}
      <div class="hv-member col-md-4 col-xs-4">
        <img class="hv-member-image" src="{{ this.image.url }}">
        <div class="hv-member-overlay"></div>
        <div class="hv-member-text">{{{ this.description }}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{/if}}
{{/each}}
<!-- .js link -->
<script src="/js/util.js"></script>
<script src="/js/about.js"></script>


