{{! default}}

<!-- .js link -->
<script>var isMobile = false;</script>
<script src="/js/util.js"></script>
<script src="/js/index.js"></script>

<!-- Banners -->
<div class="hv-banners section" data-anchor="top-anchor">

  <!-- Banner Content -->
  <div class="hv-banner-container">
    
    {{#each banners}}
    {{#if display}}
    <a href="{{ link }}" target="_blank"><img src="{{ image.url }}" data-id="{{@index}}"
      {{#if @first}} class="hv-banner active" 
      {{else}} class="hv-banner" 
      {{/if}}/></a>
    {{/if}}
    {{/each}}
  </div>

  <!-- Banner Navigation -->
  <div class="hv-banner-nav-container">
    <div class="hv-banner-nav-wrapper">
      {{#each banners}}
      {{#if display}}
      <div data-id="{{@index}}"
        {{#if @first}}class="hv-banner-nav active"
        {{else}} class="hv-banner-nav"
        {{/if}}>{{inc @index}}</div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<!-- Mission -->
<div class="section" data-anchor="mission-anchor">
  <div class="container">
    <div class="hv-mission-container">
      <div class="hv-mission-container-text">
        Hello Velocity Lab experiments with branding and
        marketing to provoke conversation.  
      </div>
      <br>
      <a href="/about"><div class="hv-mission-about">Learn more about what we do</div></a>
    </div>
  </div>
</div>

<!-- Main Case Study -->
<div class="section" data-anchor="featured-anchor">
  <div class="container">
    <div class="hv-case-study">
      {{#each case-studies}}
      {{#if @first}}
      <img src="{{ backgroundImage.url }}" class="hv-case-study-img"/>
      <div class="container">
        <div class="hv-case-study-contents">
          <div class="hv-case-study-title-container">
            <img src="{{ logo.url }}" class="hv-case-study-logo"/> &nbsp;
            <span class="hv-case-study-title">{{ title }}</span>
          </div>  
          <div class="hv-case-study-catch">{{ catchPhrase }}</div>
          <a href="{{ actionLink }}"><div class="hv-case-study-link">Learn more</div></a>
        </div>
      </div>
      <div class="hv-case-study-bg"></div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<!-- Project Banner Grid -->
<div class="section fp-normal-scroll" id="hv-projects-section" data-anchor="projects-anchor">
  <div class="container" id="hv-projects">
    <div class="hv-projects-heading">Explore our projects and see how we bring ideas to life!</div>
    <div class="hv-projects-banners row row-eq-height">
      {{#each projects}}
      {{#ifeq state "published"}}
  
      <div class="hv-project-banner-wrapper col-md-4 col-xs-6" >
        <div class="hv-project-banner-bg"
          data-bg-color="{{ bannerBackgroundColor }}">
  
          <div class="hv-project-banner-header"
            data-color="{{ bannerTextColor }}">
            <img src="{{ bannerLogo.url }}" class="hv-project-banner-header-logo">
            <a href="{{ link }}"><div class="hv-project-banner-header-link">
              <i class="fa fa-link"></i>
            </div></a>
          </div>
  
          <a href="{{ projectLink }}"><div class="hv-project-banner-content"
            data-color="{{ bannerTextColor }}">
            <div class="hv-project-banner-description">
              {{ bannerDescription }}
            </div>
            <div class="hv-project-banner-image-wrapper">
              <img class="hv-project-banner-image" src="{{ bannerImage.url }}"/>
            </div>
          </div></a>
  
        </div>
      </div>   
  
      {{/ifeq}}
      {{/each}}
    </div>
  </div>
</div>
