<div class="hv-project-slideshow-wrapper"
  data-color="{{ data.project.secondaryColor }}"
  data-border-bottom-color="{{ data.project.secondaryColor }}">

  <div class="container">

    <div class="hv-project-title"
      data-color="{{ data.project.secondaryColor }}">
      {{ data.project.title }}
    </div>

    <div class="hv-project-description"
      data-color="{{ data.project.secondaryColor }}">
      {{ data.project.pageDescription }}
    </div>
    
    <!-- Project Slides -->
    <div class="hv-project-slideshow">

      <!-- Project Slides -->
      <div class="hv-project-slideshow">
        {{#each data.project.pageGallery }}
        <img data-id="{{@index}}" src="{{ url }}"
          {{#if @first}} class="hv-project-slide active"
          {{else}} class="hv-project-slide"
          {{/if}}/>
        {{/each}}
      </div>
    </div>

    <!-- Project Slides Navigation -->
    <div class="hv-project-nav-container">
      {{#each data.project.pageGallery}}
      <div data-id="{{@index}}"
        data-border-color="{{ secondaryColor }}"
        {{#if @first}}class="hv-project-nav active"
        {{else}} class="hv-project-nav"
        {{/if}}>{{inc @index}}</div>
      {{/each}}
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="hv-project-express col-xs-4 col-md-3">
      <div class="hv-project-logo-wrapper" data-bg-color="{{ data.project.secondaryColor }}">
        <img class="hv-project-logo" src="{{ data.project.pageLogo.url }}">
      </div>
      <br>
      <a target="_blank" href="{{ data.project.link }}"><div class="hv-project-logo-link" 
        data-border-color="{{ data.project.secondaryColor }}"
        data-color="{{ data.project.secondaryColor }}">
        visit website &rarr;
      </div></a>
      <br>
      <div class="hv-project-info">
        <div class="hv-project-info-title">{{ data.project.title }}</div>
        <div class="hv-project-info-year">{{ data.project.year }}</div>
      </div>
      
    </div>
    <div class="hv-project-content col-xs-8 col-md-9">
      {{{ data.project.pageContent }}}
    </div>
  </div>
</div>

<hr data-border-bottom-color="{{ data.project.secondaryColor }}" >

<div class="container">
  <div class="hv-project-share"
    data-color="{{ data.project.secondaryColor }}">
    <div class="hv-project-share-label">
      Share this project
    </div>
    <div class="hv-project-social-container">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovelocity.com/bitelabs" target="_blank">
        <div class="hv-project-social">
          <div class="hv-project-social-icon" data-color="{{ data.project.secondaryColor }}">
            <i class="fa fa-facebook fa"></i>
          </div>
          <div class="hv-project-social-label" data-color="{{ data.project.secondaryColor }}">
            facebook
          </div>
        </div>
      </a>
      <a href="https://twitter.com/home?status=hellovelocity.com/bitelabs%20%40hellovelocity" target="_blank">
        <div class="hv-project-social">
          <div class="hv-project-social-icon" data-color="{{ data.project.secondaryColor }}">
            <i class="fa fa-twitter fa"></i>
          </div>
          <div class="hv-project-social-label" data-color="{{ data.project.secondaryColor }}">
            twitter 
          </div>
        </div>
      </a>
      <a href="https://plus.google.com/share?url=http://www.hellovelocity.com/bitelabs" target="_blank">
        <div class="hv-project-social">
          <div class="hv-project-social-icon" data-color="{{ data.project.secondaryColor }}">
            <i class="fa fa-google-plus fa"></i>
          </div>
          <div class="hv-project-social-label" data-color="{{ data.project.secondaryColor }}">
            google+ 
          </div>
        </div>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.hellovelocity.com/bitelabs&title=Hello%20Velocity&summary=&source=" target="_blank">
        <div class="hv-project-social">
          <div class="hv-project-social-icon" data-color="{{ data.project.secondaryColor }}">
            <i class="fa fa-linkedin fa"></i>
          </div>
          <div class="hv-project-social-label" data-color="{{ data.project.secondaryColor }}">
            linkedin 
          </div>
        </div>
      </a>
      <a href="mailto:?subject=Hello%20Velocity%20&body=http://www.hellovelocity.com/bitelabs" target="_blank">
        <div class="hv-project-social">
          <div class="hv-project-social-icon" data-color="{{ data.project.secondaryColor }}">
            <i class="fa fa-envelope fa"></i>
          </div>
          <div class="hv-project-social-label" data-color="{{ data.project.secondaryColor }}">
            email 
          </div>
        </div>
      </a>
    </div>
    <div class="hv-project-share-link">
      www.hellovelocity.com{{ data.project.projectLink }}
    </div>
  </div>
</div>


<!-- .js links -->
<script src="/js/util.js"></script>
<script src="/js/project.js"></script>
